<footer class="footer">

    <div class="footer-container">

            <div class="footer-container_logo-block">
                <img class="footer-container_logo-block__img" src="assets/img/logo.png" alt="logo">
                <p class="footer-container_logo-block__txt">© Copyright 2023 — Куда Пицца</p>
            </div>

            <div class="footer-container_info-block">
                <p class="footer-container_info-block_header">Куда пиццу</p>
                <ul class="footer-container_info-block_ul">
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">О компании</span>
                    </li>
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">О нас</span>
                    </li>
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">Пользовательское соглашение</span>
                    </li>
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">Условия гарантии</span>
                    </li>
                </ul>
            </div>

            <div class="footer-container_info-block">
                <p class="footer-container_info-block_header">Помощь</p>
                <ul class="footer-container_info-block_ul">
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">Ресторан</span>
                    </li>
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">Контакты</span>
                    </li>
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">Поддержка</span>
                    </li>
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">Отследить заказ</span>
                    </li>
                </ul>
            </div>

            <div class="footer-container_info-block">
                <p class="footer-container_info-block_header">Контакты</p>
                <ul class="footer-container_info-block_ul">
                    <li class="footer-container_info-block_ul_li">
                        <img class="footer-container_info-block_ul_li__img-phone" src="/assets/img/Phone.png" alt="">
                        <a class="footer-container_info-block_ul_li__link" href="tel:+79262231011" target="_blank">
                            +7 (926) 223-10-11
                        </a>
                    </li>

                    <li class="footer-container_info-block_ul_li">
                        <img class="footer-container_info-block_ul_li__img-geo" src="/assets/img/geoloc.png" alt="">
                        <a class="footer-container_info-block_ul_li__link" href="https://yandex.by/maps/-/CCU0BDFPpA" target="_blank">
                            Москва, ул. Юных Ленинцев, д.99
                        </a>
                    </li>
                </ul>

                <div class="footer-container_info-block_social-block">
                    <a class="footer-container_info-block_social-block_link" href="#" target="_blank">
                        <img class="footer-container_info-block_social-block_link__img" src="/assets/img/facebook.png" alt="">
                        Facebook
                    </a>
                    <a class="footer-container_info-block_social-block_link"
                    href="https://www.instagram.com/kudapizza.ru/" target="_blank">
                        <img class="footer-container_info-block_social-block_link__img" src="/assets/img/instagram.png" alt="">
                        Instagram
                    </a>
                </div>
            </div>
    </div>

</footer>
