.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    max-width: 1290px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 32px 20px;
}

.footer-container_logo-block__img {
    width: 151px;
    height: 38px;
    margin-bottom: 136px;
}

.footer-container_logo-block__txt {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #191919;
}

.footer-container_info-block_header {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #191919;
    margin-bottom: 22px;
}

.footer-container_info-block_ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 20px;
}

.footer-container_info-block_ul_li__link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #191919;
    cursor: pointer;
    text-decoration: none;
}

.footer-container_info-block_ul_li__img-phone {
    margin-right: 12px;
}

.footer-container_info-block_ul_li__img-geo {
    margin-right: 15px;
}

.footer-container_info-block_social-block {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    margin-top: 20px;
}

.footer-container_info-block_social-block_link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #191919;
    text-decoration: none;
}

.footer-container_info-block_social-block_link__img {
    margin-right: 12px;
}