.section-cart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f9f9f9;
    padding: 0px 20px;
}

.cart-container {
    max-width: 850px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 41px 0px 60px 0px;
}

.cart-container__order-header {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #191919;
    margin-bottom: 30px;
}

.cart-container_products-block {
    margin: 24px 0px 30px 0px;
}

.cart-container_products-block_product-block {
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: #FFFFFF;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 16px;
}

.cart-container_products-block_product-block:last-child {
    margin-bottom: 0px;
}

.cart-container_products-block_product-block_img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cart-container_products-block_product-block_img-block__img {
    width: 120px;
}

.cart-container_products-block_product-block_img-block_name-block {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.cart-container_products-block_product-block_img-block_name-block__name {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #191919;
}

.cart-container_products-block_product-block_img-block_name-block__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #191919;
    margin-top: 8px;
}

.cart-container_products-block_product-block_item-block {
    max-width: 191px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cart-container_products-block_product-block_item-block_btn-block {
    max-width: 92px;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: #fde9ed;
    border-radius: 6px;
    font-size: 16px;
    color: #ef2b51;
    font-weight: 600;
    user-select: none;
}

.cart-container_products-block_product-block_item-block_btn-block__btn-minus,
.cart-container_products-block_product-block_item-block_btn-block__btn-plus {
    width: 28px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.cart-container_products-block_product-block_item-block_btn-block__btn-minus:hover,
.cart-container_products-block_product-block_item-block_btn-block__btn-plus:hover {
    border: 1px solid #ef2b51;
}

.cart-container_products-block_product-block_item-block__price {
    color: #ef2b51;
    font-weight: 600;
    font-size: 16px;
}

.cart-container__clien-info-header,
.cart-container_delivery-header,
.cart-container_payment-header {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #191919;
}

.cart-container_client-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 16px 0px 20px 0px;
}

.cart-container_client-info_label,
.cart-container_delivery-block_label,
.cart-container_delivery-block_house-block_label {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A5A5A5;
}

.cart-container_client-info_label__input,
.cart-container_delivery-block_label__input,
.cart-container_delivery-block_house-block_label__input {
    width: 270px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    padding: 13px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #191919;
    margin-top: 8px;
}

.cart-container_client-info_label__input::placeholder,
.cart-container_delivery-block_label__input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #A5A5A5;
}

.cart-container__line {
    border-top: 1px solid #F0F0F0;;
}

.cart-container_delivery-header {
    margin: 28px 0px 24px 0px;
}

.cart-container_delivery-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.cart-container_delivery-block_label__input {
    width: 100%;
}

.cart-container_delivery-block_house-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 16px;
}

.cart-container_delivery-block_house-block_label__input {
    width: 154px;
}

.cart-container_delivery-block__delivery-time {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #A5A5A5;
    margin: 16px 0px 12px 0px;
}

.cart-container_delivery-block_time,
.cart-container_payment-block {
    display: flex;
    flex-direction: row;
}

.cart-container_delivery-block_time_input-block,
.cart-container_payment-block_input-block {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cart-container_delivery-block_time_input-block:first-child,
.cart-container_payment-block_input-block:first-child {
    margin-right: 24px;
}

.cart-container_delivery-block_time_input-block__input,
.cart-container_payment-block_input-block__input {
    position: absolute;
    visibility: hidden;
    appearance: none;
}

.cart-container_delivery-block_time_input-block__span-input,
.cart-container_payment-block_input-block__span-input {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ef2b51;
    margin-right: 8px;
}

.cart-container_delivery-block_time_input-block__span-input::before,
.cart-container_payment-block_input-block__span-input::before {
    display: none;
}

.cart-container_delivery-block_time_input-block__input:checked +
.cart-container_delivery-block_time_input-block__label
.cart-container_delivery-block_time_input-block__span-input::before,
.cart-container_payment-block_input-block__input:checked +
.cart-container_payment-block_input-block__label
.cart-container_payment-block_input-block__span-input::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ef2b51;
}

.cart-container_delivery-block_time_input-block__label,
.cart-container_payment-block_input-block__label {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #191919;
    cursor: pointer;
}

.cart-container_delivery-block_time_input-block__label:hover,
.cart-container_payment-block_input-block__label:hover {
    color: #ef2b51;
}

.cart-container_payment-header {
    margin: 20px 0px 19px 0px;
}

.cart-container_payment-block {
    margin-bottom: 23px;
}

.cart-container_comment-header {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #191919;
    margin: 20px 0px 16px 0px;
}

.cart-container_comment-block {
    width: 100%;
    margin-bottom: 20px;
}

.cart-container_comment-block__input {
    width: 100%;
    min-height: 120px;
    font-size: 16px;
    padding: 13px 16px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
}

.cart-container_checkout-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.cart-container_checkout-block__total-price {
    font-weight: 600;
    font-size: 20px;
    color: #ef2b51;
}

.cart-container_checkout-block__btn {
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 13px 24px;
    background: #ef2b51;
    color: #fff;
    cursor: pointer;
}

.not-basket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cart-container__cart-empty {
    width: 150px;
}

.cart-container_delivery-block_time_delivery-time {
    display: block;
    width: 160px;
    color: #a5a5a5;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    padding: 15px 16px;
    background: #fff;
    height: 48px;
    margin-bottom: 30px;
    cursor: pointer;
}

.cart-container_delivery-block_time_delivery-time_txt__img {
    right: 0px;
}

.cart-container_delivery-block_time_delivery-time_choose {
    display: block;
    margin-left: 30px;
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #f0f0f0;
    background: #fff;
}