<section class="section-cart">
    
    <div class="not-basket" *ngIf="!cartService.basket.length">
      <h1 class="cart-container__order-header">Ваша корзина пуста</h1>
      <img class="cart-container__cart-empty" src="/assets/img/cart-empty.png" alt="">
    </div>

    <div class="cart-container" *ngIf="cartService.basket.length">
        <h1 class="cart-container__order-header">Ваш заказ</h1>
        <div class="cart-container_products-block" *ngFor="let item of cartService.basket; let ind=index">

            <div class="cart-container_products-block_product-block">
                <div class="cart-container_products-block_product-block_img-block">
                    <img class="cart-container_products-block_product-block_img-block__img" src="{{ item.image }}" alt="">
                    <div class="cart-container_products-block_product-block_img-block_name-block">
                        <p class="cart-container_products-block_product-block_img-block_name-block__name">
                            {{ item.name }}
                        </p>
                        <p class="cart-container_products-block_product-block_img-block_name-block__description">
                            {{ item?.description }}
                        </p>
                    </div>
                </div>

                <div class="cart-container_products-block_product-block_item-block">
                    <div class="cart-container_products-block_product-block_item-block_btn-block">
                        <p class="cart-container_products-block_product-block_item-block_btn-block__btn-minus"
                        (click)="cartService.minusCountCart(ind, item)">
                        -</p>
                        <p class="cart-container_products-block_product-block_item-block_btn-block__quantity">
                            {{ item.count }}
                        </p>
                        <p class="cart-container_products-block_product-block_item-block_btn-block__btn-plus"
                        (click)="cartService.plusCountCart(item)">
                        +</p>
                    </div>

                    <p class="cart-container_products-block_product-block_item-block__price">{{ item.total_price | number:'1.1-2'}} руб.</p>
                </div>
            </div>
        </div>

        <h3 class="cart-container__clien-info-header">О вас</h3>

        <div class="cart-container_client-info">
                <label class="cart-container_client-info_label">
                    Имя*
                    <input class="cart-container_client-info_label__input"
                    placeholder="Алексей" type="username">
                </label>
                <label class="cart-container_client-info_label">
                    Номер телефона*
                    <input class="cart-container_client-info_label__input"
                    placeholder="+375" type="tel">
                </label>
                <label class="cart-container_client-info_label">
                    Почта*
                    <input class="cart-container_client-info_label__input"
                    placeholder="mail@gmail.com" type="email">
                </label>
        </div>

        <div class="cart-container__line"></div>

        <h3 class="cart-container_delivery-header">Доставка</h3>

        <div class="cart-container_delivery-block">
            <label class="cart-container_delivery-block_label">
                Улица*
                <input class="cart-container_delivery-block_label__input"
                placeholder="пр.Независимости" type="text">
            </label>
            <div class="cart-container_delivery-block_house-block">
                <label class="cart-container_delivery-block_house-block_label">
                    Дом*
                    <input class="cart-container_delivery-block_house-block_label__input"
                    placeholder="180" type="text">
                </label>
                <label class="cart-container_delivery-block_house-block_label">
                    Подъезд*
                    <input class="cart-container_delivery-block_house-block_label__input"
                    placeholder="6" type="text">
                </label>
                <label class="cart-container_delivery-block_house-block_label">
                    Этаж*
                    <input class="cart-container_delivery-block_house-block_label__input"
                    placeholder="8" type="text">
                </label>
                <label class="cart-container_delivery-block_house-block_label">
                    Квартира*
                    <input class="cart-container_delivery-block_house-block_label__input"
                    placeholder="174" type="text">
                </label>
                <label class="cart-container_delivery-block_house-block_label">
                    Домофон
                    <input class="cart-container_delivery-block_house-block_label__input"
                    placeholder="0000" type="text">
                </label>
            </div>

            <h5 class="cart-container_delivery-block__delivery-time">Когда выполнить заказ?</h5>

            <div class="cart-container_delivery-block_time">
                <div class="cart-container_delivery-block_time_input-block" (click)="deliveryTime(false)">
                    <input class="cart-container_delivery-block_time_input-block__input"
                    type="radio" name="time-delivery" id="soon">

                   <label class="cart-container_delivery-block_time_input-block__label" for="soon">
                    <span class="cart-container_delivery-block_time_input-block__span-input"></span>
                    Как можно скорее
                </label>
                </div>

                <div class="cart-container_delivery-block_time_input-block" (click)="deliveryTime(true)">
                    <input class="cart-container_delivery-block_time_input-block__input by_time"
                    type="radio" name="time-delivery" id="by-time">

                   <label class="cart-container_delivery-block_time_input-block__label" for="by-time">
                    <span class="cart-container_delivery-block_time_input-block__span-input"></span>
                    По времени
                </label>
                </div>


                <div class="cart-container_delivery-block_time_delivery-date" (click)="sortDateCall()" *ngIf="delivery">
                    <p class="cart-container_delivery-block_time_delivery-date_txt">
                        {{sortDate}}
                        <img class="cart-container_delivery-block_time_delivery-date_txt__img" 
                        src="/assets/img/Calendar.png" alt="">
                    </p>

                    <div class="cart-container_delivery-block_time_delivery-date_choose" *ngIf="sortDateList">
                        <p class="cart-container_delivery-block_time_delivery-date_choose_txt"
                         (click)="sortDateCall('Сегодня')">Сегодня</p>
                        <p class="cart-container_delivery-block_time_delivery-date_choose_txt"
                         (click)="sortDateCall('Завтра')">Завтра</p>
                    </div>
                </div>

                <div class="cart-container_delivery-block_time_delivery-time" (click)="sortTimeCall()" *ngIf="delivery">
                    <p class="cart-container_delivery-block_time_delivery-time_txt">
                        {{sortTime}}
                        <img class="cart-container_delivery-block_time_delivery-time_txt__img" 
                        src="/assets/img/Arrow-down.png" alt="">
                    </p>
                    <div class="cart-container_delivery-block_time_delivery-time_choose" *ngIf="sortTimeList">
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('11:00-11:30')">11:00-11:30</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('11:30-12:00')">11:30-12:00</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('12:00-12:30')">12:00-12:30</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('12:30-13:00')">12:30-13:00</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('13:00-13:30')">13:00-13:30</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('13:30-14:00')">13:30-14:00</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('14:00-14:30')">14:00-14:30</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('14:30-15:00')">14:30-15:00</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('15:00-15:30')">15:00-15:30</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('15:30-16:00')">15:30-16:00</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('16:00-16:30')">16:00-16:30</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('16:30-17:00')">16:30-17:00</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('17:00-17:30')">17:00-17:30</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('17:30-18:00')">17:30-18:00</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('18:00-18:30')">18:00-18:30</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('18:30-19:00')">18:30-19:00</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('19:00-19:30')">19:00-19:30</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('19:30-20:00')">19:30-20:00</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('20:00-20:30')">20:00-20:30</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('20:30-21:00')">20:30-21:00</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('21:00-21:30')">21:00-21:30</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('21:30-22:00')">21:30-22:00</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('22:00-22:30')">22:00-22:30</p>
                        <p class="cart-container_delivery-block_time_delivery-time_choose_txt"
                         (click)="sortTimeCall('22:30-23:00')">22:30-23:00</p>
                    </div>
                </div>
                
                
            </div>
        </div>

        <h3 class="cart-container_payment-header">Оплата</h3>

        <div class="cart-container_payment-block">
            <div class="cart-container_payment-block_input-block">
                <input class="cart-container_payment-block_input-block__input"
                type="radio" name="payment" id="cash">

                <label class="cart-container_payment-block_input-block__label" for="cash">
                <span class="cart-container_payment-block_input-block__span-input"></span>
                Наличными</label>
            </div>

            <div class="cart-container_payment-block_input-block">
                <input class="cart-container_payment-block_input-block__input"
                type="radio" name="payment" id="non-cash">

                <label class="cart-container_payment-block_input-block__label" for="non-cash">
                <span class="cart-container_payment-block_input-block__span-input"></span>
                Картой</label>
            </div>
        </div>

        <h2 class="cart-container_comment-header">Комментарий</h2>

        <div class="cart-container_comment-block">
            <textarea class="cart-container_comment-block__input"
            placeholder="Есть уточнения?" type="text"></textarea>
        </div>

        <div class="cart-container__line"></div>

        <div class="cart-container_checkout-block">
            <p class="cart-container_checkout-block__total-price" *ngIf="cartService.grandTotal">Итого: {{ cartService.grandTotal | number:'1.1-2' }} руб.</p>
            <p class="cart-container_checkout-block__total-price" *ngIf="!cartService.grandTotal">Итого: 0 руб.</p>
            <p class="cart-container_checkout-block__btn">Оформить заказ</p>
        </div>
    </div>
</section>