<section class="section-product">

    <div class="product-container">

        <div class="product-container_card-block">

            <img class="product-container_card-block__img" src={{product.image}} alt="">

            <div class="product-container_card-block_params-block">

                <h2 class="product-container_card-block_params-block__header">
                    {{product.name}}
                </h2>
    
                <p class="product-container_card-block_params-block__description" *ngIf='product?.description'>
                    {{product?.description}}
                </p>
    
                <p class="product-container_card-block_params-block__ingredients" *ngIf='product?.ingredients'>
                    Состав: {{product?.ingredients}}
                </p>

            </div>

        </div>

        <div class="product-container_price-block">

            <p class="product-container_price-block__price">
                {{product.price}} руб.
            </p>
            
            <p class="product-container_price-block__btn">
                Добавить
            </p>

        </div>

        <div class="product-container_close-block">
            <img class="product-container_close-block__close-btn" src="/assets/img/close-btn.png" alt="">
        </div>

    </div>

</section>