.section-product {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(25, 25, 25, 0.4);
    backdrop-filter: blur(16px);
}

.product-container {
    max-width: 1132px;
    max-height: 680px;
    padding: 32px 20px 20px 60px;
    border-radius: 24px;
    background: #fff;
}

.product-container__img {
    width: 450px;
}